{{! 
This page wil be rendered if the user does not input text into their form, make sure to give a response status code of 400 on the page, and render a valid HTML page with a paragraph class called 'error'; this paragraph should describe the error.
}}

<main>
    <h1>ERROR</h1>
    <p class="error">{{err}}</p>
</main>
<a href="/">Make another search</a>