{{!--

login form handlebar template

--}}

<main class="login">
    <h1>{{title}}</h1>

    <form class="form-input" method="post" id="login-form">
        <div class="login-info">
            <label class="input-label" for="emailAddressInput">Email:</label>
            <input type="email" id="emailAddressInput" name="emailAddressInput">
            <br>
            <label class="input-label" for="passwordInput">Password:</label>
            <input type="password" id="passwordInput" name="passwordInput">
        </div>
        <div class="form-button-container">
            <input class="form-button" type="submit" id="submit" value="Log in">
            <button class="form-button" type ="button" onclick="window.location.href='/register';">Sign up </button>
        </div>
    </form>

    <p id="serverErrorLogin" class="error">{{error}}</p>

    <div id="errorListLogin">
    </div>


</main>