{{!--

registration handelbars

--}}
<main class="login">
    <h1>
        {{title}}
    </h1>
    <p>{{error}}</p>
    <form class="form-register" action="/register" method="POST" id="registration-form">
        <div class="login-info">
            <div class="register-info">
                <div>
                    <label class="input-label" for="firstNameInput">First Name</label>
                    <input id="firstNameInput" type="text" name="firstNameInput" placeholder="Michael"/>
                </div>
                <div>
                    <label class="input-label" for="lastNameInput">Last Name</label>
                    <input id="lastNameInput" type="text" name="lastNameInput" placeholder="Jordan"/>
                </div>
            </div>
            <div class="register-info">
                <div class="register-input">
                    <label class="input-label" for="emailAddressInput">Email Address</label>
                    <input id="emailAddressInput" type="email" name="emailAddressInput" placeholder="example@example.com"/>
                </div>
                <div class="register-input">
                    <label class="input-label" for="passwordInput">Password</label>
                    <input id="passwordInput" type="password" name="passwordInput" placeholder="Mypassword123!"/>
                </div>
            </div>
            <div class="register-input">
                <label class="input-label" for="confirmPasswordInput">Confirm Password</label>
                <input id="confirmPasswordInput" type="password" name="confirmPasswordInput" placeholder="Mypassword123!"/>
            </div>
            {{!-- Drop down --}}
            <div class="register-info">
                <div class="register-input">
                    <label class="register-label" for="roleInput">Select a role</label>
                    <select name="roleInput" id="roleInput">
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                </div>
                <div class="register-input">
                    <label class="register-label" for="button">Click here to Register</label>
                    <input class="form-button" id='button' type="submit"/>
                </div>
            </div>
            <a href="/login" class="register-input">Already have an account? Click here to log-in</a> <br>
        </div>
        {{!-- Submit form --}}
    </form>
    <div id="error-reg" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
</main>